.name{
    opacity: 0;
    transform: translate(-40px);
    transition: .4s ease;
}

.logo:hover .name{
    opacity: 1;
    transform: translate(0px);
}

body.home .logo .name{
    opacity: 1;
    transform: translate(0px);
}

body:not(.home) .logo .name{
    opacity: 0;
    transform: translate(-40px);
}

body:not(.home) .logo:hover .name{
    opacity: 1;
    transform: translate(0px);
}
